	*
	{
		font-family: 'Helvetica', 'Noto Sans CJK JP';
		font-size: 101%;
	}

	/* hiding */
	.boardBanner, hr, #blotter, #thread-stats, #update-timer, .sideArrows, div.reply input, #absbot.absBotText, .bottomCtrl, #togglePostFormLink, .postInfo.desktop input
	{
		display: none !important;
	}

	body
	{
		background-color: #515151 !important;
		background-image: none !important;
		color: #e8e6df;
	}

	select
	{
		font-size: 12px;
	}

	.thread
	{
		padding: 0 13% 0 13% !important;
	}

	/* catalog stuff */
	.catalog-mode:root .board
	{
		padding-top: 15px !important;
	}

	.catalog-thread > .comment
	{
		padding: 10px 3px 10px 3px !important;
	}
	.catalog-thread
	{
		transition: all 0.25 ease;
		padding: 10px !important;
		border: 2px solid #515151 !important;
		border-radius: 5px !important;
	}
	.catalog-thread:hover
	{
		transition: all 0.25 ease;
		/*background-color: #2d2d2d !important;*/
		border-color: #88aaaa !important;
	}

	/* index, catalog, bottom links */
	.navLinks,
	.navLinks.desktop
	{
		background-color: #515151 !important;
		padding-left: 20px !important;
		padding-right: 20px !important;
		color: #A7ADBA !important;
    text-align: center;
	}

	.navLinks > a
	{
		color: #9e9e9e !important;
	}

	/* reply boxes */
	.reply
	{
		background-color: #515151 !important;
		padding: 2% 2% !important;
		border-style: none !important;
		/*border-width: 1px 0 0 0 !important;
		border-color: #DFE1E8 !important; */
	}

	.opContainer, .op, .post
	{
		background-color: #515151 !important;
		color: #e8e6df;
		overflow: hidden !important;
	}

	div.post div.postInfo span.subject
	{
		color: #e8e6df !important;
	}

	/* change maymay arrow colors */
	blockquote > span.quote, .quote
	{
		color: #7CBF9E !important;
	}

	/* animate link hover */
	.postMessage > a,a, a:visited, a.backlink, a.quotelink, .backlink.deadlink
	{
		transition: all ease-in-out 0.25s;
		color: #88aaaa !important;
	}
	
	/* uncomment to remove underline on quote links*/
	/*
	a.quotelink
	{
		text-decoration: none !important;
	}
	*/

	.postMessage > a:hover, a:hover, a.backlink:hover, .backlink.deadlink:hover
	{
		transition: all ease-in-out 0.25s;
		background-color: #88aaaa !important;
		color: #fff !important;
	}

	#menu.dialog {
		background-color: #515151 !important;
		box-shadow: 2px 2px 2px rgba(0,0,0,0.7) !important;
		border: none !important;
	}

	div.post div.postInfo span.nameBlock span.name
	{
		color: #e8e6df !important;
	}

	.postertrip
	{
		color: #99CC99 !important;
	}

	span.dateTime, span.file-info > a, a.sauce
	{
		color: #D3D0C8 !important;
	}

	
	a.qr-link
	{
		background: #88aaaa !important;
		color: #ffffff !important;
		border: none !important;
		position: fixed !important;
		bottom: 3% !important;
		right: 3% !important;
		z-index: 1 !important;
		box-shadow: 2px 2px 2px rgba(0,0,0,0.5) !important;
	}
	#qr
	{
		color: #515151 !important;
	}/*
	input[type="checkbox"]
	{
		background-color: #ffffff !important;
		border: none !important;
	}*/
	a.qr-link:hover
	{
		transform: scale(1.5, 1.5);
	}
	
	/***** begin chan shit ******/
#qrHeader {
  color: #5c616c !important;
  background: #e7e8eb !important;
  border: 1px solid transparent !important;
}

#qrHeader a {
  color: #676767!important
}

#quickReply {
        border: 0 !important;
        background: #e7e8eb !important;
        z-index: 100 !important;
}

#quickReply input[type="text"], #quickReply textarea {
        border: 1px solid transparent !important;
        background: #e7e8eb !important;
        color: #5c616c !important;
}
.qr-link-container-bottom {
	display: none !important;
}
    input[type="button"], input[type="submit"] {
        -moz-appearance: none !important;
        background: #DBDBDB !important; color: #aaa !important;
        border: 2px solid #DBDBDB !important; border-radius: 2px !important;
    }
  
    input[type="file"] { width: 210px !important; }  
  
      .extButton, #qrCaptcha {
        filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
    }
 /***** end chan shit *******/

	/* reply menu */
	table.postForm > tbody > tr > td:first-child
	{
		background-color: #88aaaa !important;
		border: none !important;
		text-align: center !important;
	}

	/* 4chan-x stuff */
	.yotsuba-b:root .focused.entry
	{
		background: #88aaaa !important;
		border: none !important;
		color: #ffffff !important;
	}
	.entry {
  	background-color: #2d2d2d !important;
    border: none !important;
   }
	.dialog, .suboption-list > div:last-of-type
	{
		background-color: #ffffff !important;
	}

	.section-main label
	{
		text-decoration: none !important;
		color: #88aaaa !important;
	}

	span.description
	{
		color: #606060;
	}

	#fourchanx-settings fieldset, .section-main div::before
	{
		border-color: #88aaaa !important;
	}
	
	#fourchanx-settings.dialog
	{
		color: #2d2d2d !important;
	}

	#header-bar.dialog
	{
		background-color: #2d2d2d !important;
		color: #e8e6df !important;
		border: none !important;
	}

	.fixed:root #header-bar, .yotsuba-b:root #header-bar
	{
		box-shadow: none !important;
		/*background-color: #2d2d2d !important;*/
	}

	.yotsuba-b:root .entry
	{
		color: #e8e6df !important;
	}

	.warning, span.post-count.warning, .deadlink
	{
		color: #F2777A !important;
	}

	strong.capcode.hand.id_mod
	{
		color: #CC99CC !important;
	}